# Repository
.vscode/

patches/
specs/

# Backend (packages/backend)
packages/backend/**/*.rs

packages/backend/bindings/c/
packages/backend/bindings/capacitor/
packages/backend/bindings/node/dist/
packages/backend/bindings/node/native/

packages/backend/src/
packages/backend/target/

# Desktop (packages/desktop)
packages/desktop/out/
packages/desktop/public/
packages/desktop/electron/lib/keychain.js

# Mobile (packages/mobile)
packages/mobile/android/
packages/mobile/ios/
packages/mobile/public/

# Shared (packages/shared)
packages/shared/assets/
!packages/shared/lib/tests/
packages/shared/locales/
!packages/shared/locales/en.json

# Common files and folders
**/node_modules/
**/out/
**/tests/

# ESLint configuration and files
**/.eslintrc.js
