# Repository
.vscode/

patches/
specs/

# Desktop (packages/desktop)
packages/desktop/public/assets/
packages/desktop/public/build/
packages/desktop/public/locales/

# Shared (packages/shared)
packages/shared/assets/
packages/shared/locales/
!packages/shared/locales/en.json

# Common files and folders
**/node_modules/
**/out/

# ESLint configuration and files
**/.eslintrc.js
