/* dm-sans-500 - latin */
@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    src: local("DM Sans Medium"), local("DMSans-Medium"),
        url("./../assets/fonts/dm-sans-v4-latin-500.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("./../assets/fonts/dm-sans-v4-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* dm-sans-700 - latin */
@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    src: local("DM Sans Bold"), local("DMSans-Bold"), url("../assets/fonts/dm-sans-v4-latin-700.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../assets/fonts/dm-sans-v4-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@import "themes.scss";

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    font-weight: 500;
    font-family: "DM Sans";
    font-style: normal;
    transition: background 0.25s, color 0.25s;
}
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

button:focus {
    outline: none;
}
