name: Format & Lint

on:
  pull_request:
  push:
    branches:
      - 'main-mobile'

jobs:
  rust:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Install rustfmt with nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
          components: rustfmt

      - name: Format
        run: cargo +nightly fmt -- --check
        working-directory: packages/backend

  format:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - name: Install Dependencies
        run: yarn --ignore-scripts

      - name: Format
        run: yarn format-check

  lint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - name: Install Dependencies
        run: yarn --ignore-scripts

      - name: Lint
        run: yarn lint
