name: Test

on:
    pull_request:
    push:
        branches:
            - 'develop'

jobs:
    shared:
        runs-on: ubuntu-18.04
        steps:
            - uses: actions/checkout@v2

            - name: Setup Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: 16.4.2

            - name: Install Dependencies
              run: yarn --ignore-scripts

            - name: Test
              run: yarn test:shared
