name: Type Check

on:
    pull_request:
    push:
        branches:
            - 'develop'

jobs:
    check-types:
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v2

            - name: Setup Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: 18.15.0

            - name: Install Dependencies
              run: yarn --ignore-scripts

            - name: Check types
              run: yarn check-types
